@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/Barlow_Condensed/BarlowCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/Barlow_Condensed/BarlowCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/Barlow_Condensed/BarlowCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/Barlow_Condensed/BarlowCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('/assets/Barlow_Condensed/BarlowCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
body { font-family: 'Barlow Condensed', sans-serif; }
.black-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: unset;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    padding: 0 15px; /* For some padding on smaller screens */
}
.carousel-caption > h1 { font-size: 8vw; }
.gallery-box {
    padding: 0;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
}
.gallery-box > img {
    transition: all 0.35s ease; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* This ensures the image covers the entire container */
    transform: scale(1);
}
.gallery-box:hover > img { transform: scale(1.1); }
footer a { color: #fff; }
footer a:hover { color: #ccc; }